/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$frank-yellow: rgba(254,237,1,1);
$frank-black: rgba(17,17,17,1);

body {
  font-family: Georgia, "Times New Roman", Times, serif;

  .loader {
    display: none;
  }

  &.loading {

    .frontpage-info__location, .frontpage-info__points-of-interest {
      display: none;
    }

    .loader {
      display: block;
      position: absolute;
      top: 12rem;
      left: 46%;
    }

    .frontpage-info__points-of-interest {
      color: transparent;
    }
  }
}

.frontpage-info {

  width: 100%;
  background-image: url("../img/hero.png");
  height: 30rem;


  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 1rem;

    .logo {
      float: left;
      width: 64px;
    }

    .menu {
      float: right;
    }

  }

  &__location {
    margin-top: 8rem;
    left: 30%;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 110px;
    transition: opacity 
  }

  &__points-of-interest {
  }
}

.frontpage-upper {
  background-color: $frank-yellow;
}

.frontpage-middle {

}

.frontpage-footer {
  background-color: black;
  color: white;
  height: 128px;
  &__more-info {
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    line-height: 128px;
    text-align: center;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}

#OfferMap { min-height: 320px; }
