/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.frontpage-info {
  border: solid black 1px;
  &__header {

  }
  &__location {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
  }
  &__points-of-interest {
  }
}

.frontpage-upper {
  background-color: yellow;
}

.frontpage-middle {
  
}
